<a href="https://colab.research.google.com/github/M4rkAdrian/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a Class

In [4]:
class MyClass:
  pass

In [8]:
class OOP1_2:
  X = 5
  print(X)

5

Create Objects

In [34]:
class OOP1_2:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def identity(self):
    print(self.name, self.age)

person = OOP1_2("Maria",39)

print(person.name)
print(person.age)

Maria
39

In [ ]:
#Modify the Object Name

In [35]:
person.name = "Rizette"
print(person.name)

Rizette

In [36]:
person.age = 40

print(person.name)
print(person.age)

Rizette
40

In [ ]:
#Delete the Object

In [37]:
del person.name

In [23]:
print(person.age)

NameError: ignored

Application 1 - Write a python program that computes the area of a square, and name its class as Square, side as attribute

In [29]:
class Square:
  def __init__(self,sides):
    self.sides=sides

  def area(self):
    return self.sides*self.sides    #formula to compute the area of the square

  def display(self):
    print("the area of the square is:", self.area())

square = Square(4)

square.display()
print(square.sides)

the area of the square is: 16
4

Application 2 - Write a python program that displays your full name, age, course, school. Create a class named MyClass and name, age, school,course as attributes

In [32]:
class MyClass:
  def __init__(self,name,age,school,course):
    self.name=name
    self.age=age
    self.school=school
    self.course=course
  
  def identity(self):
    print(self.name,self.age,self.school,self.course)

person = MyClass("Mark Adrian",18,"Cavite State University","Computer Engineering")

print(person.name)
print(person.age)
print(person.school)
print(person.course)

Mark Adrian
18
Cavite State University
Computer Engineering